# Node.js
frontend/node_modules
frontend/dist

# Maven
backend/target

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs / Config
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Environment / Secrets
.env
**/.env
.env.*

# Personal / Local
hoja de ruta.txt
